<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://cazfunction20230707114924.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/05d289c3-78e6-465f-996c-ddd2cc43c0c6/resourcegroups/ist190016_rg_7509/providers/Microsoft.Web/sites/CAzFunction20230707114924</ResourceId>
    <UserName>$CAzFunction20230707114924</UserName>
    <_SavePWD>true</_SavePWD>
    <PublishUrl>https://cazfunction20230707114924.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>